<!DOCTYPE html>
<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShakeItNow</title>
        <link rel="stylesheet" href="/styles.css">
      </head>
<body>
  <div class="container">
    <h1>Find the cocktail recipe you like!</h1>

    <!-- Form for searching by cocktail name or first letter -->
    <section>
            <form action="/" method="post">
      <label for="searchInput">Search by Cocktail Name or First Letter:</label>
      <input type="text" id="searchInput" name="searchQuery" required>
      <button type="submit">Search</button>
    </form>
        <form action="/" method="post">
      <button type="submit">Get Random Cocktail</button>
    </form>
    </section>


    <!-- Button for getting a random cocktail -->


    <!-- Display the results here (e.g., cocktail details) -->
    <div id="results">
      <!-- Results will be dynamically added here using JavaScript -->
    </div>
  </div>
</body>
</html>